<div #gmap id="gmap" style=" padding-left: 20px;width:50%;height:500px"></div>
<div class="col-md-3 col-sm-12 col-xs-12">
  <button (click)="setMapType('terrain')" class="btn btn-primary">Terrain</button>
  <button (click)="setMapType('satellite')" class="btn btn-danger">Satellite</button>
  <button (click)="setMapType('roadmap')" class="btn btn-warning">Road Map</button>
  <div>
    <input id="address" type="textbox" value="Sydney, NSW">
    <input type="button" value="Encode" (click)="codeAddress()">
  </div>
</div>

<ul >
  <li *ngFor="let shop of shops" (click)="shopClick(shop.id)">
    {{shop.name}}
  </li>
</ul>
